<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Authorization and Registration</title>
</head>
<body>
    <div class="container">
        <h2>Authorization</h2>

        <form id="login-form" action="/login" method="POST">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>

            <div class="form-group">
                <input type="submit" value="Login">
            </div>
        </form>

        <div id="error-message" class="error-message"></div>

        <script>
            document.getElementById("login-form").addEventListener("submit", function(event) {
                event.preventDefault();
                const formData = new FormData(event.target);
                const jsonData = {};
                formData.forEach((value, key) => {
                    jsonData[key] = value;
                });
                fetch("/login", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(jsonData)
                })
                .then(response => response.json())
                .then(data => {
                    if (data.access_token) {
                        // Successfully logged in, you can redirect or do something here
                        console.log(data.access_token);
                    } else if (data.message) {
                        // Display the error message
                        const errorMessageDiv = document.getElementById("error-message");
                        errorMessageDiv.textContent = data.message;
                    }
                })
                .catch(error => {
                    // Handle any errors that occur during the fetch request
                    console.error(error);
                });
            });
        </script>

        <p class="text-center">Don't have an account? <a href="registration.html">Register</a></p>
    </div>
</body>
</html>
